@media (min-width: 680px){
    .description{
        max-width: 660px;
    }
    
    .photos-container{
        max-width: 640px;
    }
    .photos{
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media (min-width: 1008px){
    .menu > .menuList {
        display: flex;
        flex-direction: row;
    }

    .menu > .menuList > .list{
        margin: 25px;
        letter-spacing: 2px;
    }

    .menu > .menuList > .list:hover{
        color: #fff;
    }


    .photos-container{
        max-width: 940px;
    }
    .photos{
        flex-direction: row;
        flex-wrap: wrap;
    }
}


@media (min-width: 1260px){
    .photos-container{
        max-width: 1240px;
    }
    .photos{
        flex-direction: row;
        flex-wrap: wrap;
    }
}